


/*********/
/* RESET */
/*********/

header, nav, footer, figure, section, article {display: block;}
html, body, span, object, iframe, h1, h2, h3, h4, h5, h6, a, em, font, img, strong, sub, sup, dl, dt, dd, ul, ol, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, p {margin: 0;	padding: 0;	border: 0;	outline: 0; text-decoration: none;}



/*********/
/* BORDER BOX */
/*********/

body {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -o-box-sizing: inherit;
}


/*********/
/* FONT */
/*********/

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

strong { font-weight: bold; }



/*********/
/* GENERAL */
/*********/


body {
  font-family: 'Roboto', 'Arial', sans-serif;
	height: 100%;
	background-color: white;
}


.segment{
  width: 100%;
}

.segment.header{
  background: #282525;
  padding: 6%;
  padding-bottom: 3%;
}

.segment.exemple {
  background: #ffffff;
  padding: 6%;
}

.segment.bandeau{
  padding: 4%;
  padding-top: 5%;
  padding-bottom: 0;
  background: #76bde6; /* Old browsers */
  background: -moz-linear-gradient(top,  #76bde6 0%, #73b7dd 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #76bde6 0%,#73b7dd 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #76bde6 0%,#73b7dd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76bde6', endColorstr='#73b7dd',GradientType=0 ); /* IE6-9 */
}

.segment.simulateur {
  background: #d8d8d8;
  padding: 6%;
}

.segment.banniereBfm {
  background: #efefef;
  padding: 6%;
  padding-top: 8%;
}

.segment.contact {
  background: #ffffff;
  padding: 6%;
  padding-bottom: 13vw;
}

.segment.mentions_legales {
  border-top: 1px solid #bfbfbf;
  background: #ffffff;
  padding: 6%;
}

.segment.footer {
  background: #ffffff;
  padding: 6%;
  border-top: 1px solid #CCCCCC;
}



/* Header */

header{
	position: relative;
	clear:both;
  width: 100%;
  max-width: 768px;
}


#logo img{
width: 40%;
height: auto;
display: inline-block;
vertical-align: middle;
}

#logoBfmTop{
  margin-left: 4vw;
}

#logoBfmTop img{
  display: inline-block;
  vertical-align: middle;
  width: 9.5%;
  height: auto;

}


/* Exemple */

#exemple{
  width: 95%;
  text-align: left;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 4.5vw;
  line-height: 6.5vw;
}

#exemple p span{
  font-size: 4vw;
}

#exemple p strong{
  font-size: 5.5vw;
}

/* Bandeau */

#bandeau{
  position: relative;
  width: 100%;

}


#informations {
  position: relative;
  z-index: 2;
  width: 100%;
}

#informations h2 {
  display: inline-block;
  font-weight: 400px;
  font-style: italic;
  font-size: 5.3vw;
}

#dashes {
  display: inline-block;
  width: 4%;
  height: auto;
  margin: 0 1.5% 0 1%;
  vertical-align: baseline;
}

#dueDate{
  position: relative;
  display: inline-block;
  width: 57%;
  padding: 2.5vw;
  -moz-transform: skewX(-15deg);
  -ms-transform: skewX(-15deg);
  -webkit-transform: skewX(-15deg);
  transform: skewX(-15deg);
  text-transform: uppercase;
  border: 1px solid #000000;
  /* min-height: 1em; */
  text-align: center;
}

#dueDate span{
  position: absolute;
  left: 0;
  top: 1vw;
  width: 100%;
  -moz-transform: skewX(15deg);
  -ms-transform: skewX(15deg);
  -webkit-transform: skewX(15deg);
  transform: skewX(15deg);
  font-size: 3vw;
  font-weight: 400;
  font-style: italic;
}

#informations h1{
  display: block;
  font-weight: 100;
  font-size: 9vw;
  color: #000000;
  margin-top: 2vw;
}

#informations h1 span{
  font-weight: 400;
}

#informations h1 span sup{
  font-size: 2vw;
  line-height: 0;
  position: relative;
}

#clock{
  position: relative;
  display: block;
  width: 100%;
  /* bottom:-1vw; */
  height: auto;
}


#taux {
  position: absolute;
  top:22vw;
  right:0vw;

  color: #ffffff;
  font-size: 17vw;
  font-weight: 900;
}

#taux span{
  position: absolute;
  bottom: -5vw;
  right: 0px;
  color: #000000;
  font-weight: 700;
  font-size: 6vw;
}

#mention{
  position: absolute;
  top:48vw;
  right:0vw;
  color: #ffffff;
  font-size: 4vw;
  font-weight: 300;
  line-height: 6vw;
}


/* Simulateur */


#simulateur{
}

.btn{
  position: relative;
  display: block;
  font-size: 4.5vw;
  font-weight: 500;
  padding: 5vw;
  padding-left: 17vw;
  border-radius: 3px;
}



.btn.simulation{
  padding-top: 6vw;
  padding-bottom: 5vw;
  color: #ffffff;
  background: #4d9ed0;
  border-radius: 0.5vw;
  border-bottom:3px solid #5a87a3;
  box-shadow: none;
}

.btn.simulation:focus{
  background: #3e8dbe;
  transition: background 0.2;
}

i.arrow:before{
  content:'';
  display: inline-block;
  position: absolute;
  top: 5vw;
  right: 6vw;
  width: 6vw;
  height: 6vw;
  background-image: url('../images/button_arrow_mobile.png');
  background-image: -webkit-image-set( url('../images/button_arrow_mobile-2x.png') 2x );
  background-size: 100%;
}

i.picto_simulation:before{
  content:'';
  display: block;
  position: absolute;
  top: 3vw;
  left: 4vw;
  width: 8vw;
  height: 8vw;
  background-image: url('../images/picto_simulation_mobile.png');
  background-image: -webkit-image-set( url('../images/picto_simulation_mobile-2x.png') 2x );
  background-size: 100%;
}






/* Banniere BFM */

#banniereBfm{
  position: relative;
  height: auto;
  padding: 0;
}

#logoBfm{
  display: inline-block;
  position: relative;
  top: 2vw;
  vertical-align: top;
  width: 15%;
  height: auto;
}

#banniereBfm .label{
  display: inline-block;
  vertical-align: top;
  line-height: 7vw;
  margin-left: 3vw;
  font-weight: 400;
  font-size: 4.5vw;
  color: #333333;
  width: 80%;
}

#banniereBfm .label span{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3.4vw;
  color: #007ac2;
}


/* Contact */

#contact{
}

#contact p{
  color: #333333;
  display: block;
  margin-top: 3.5vw;
  font-size: 5.5vw;
  font-weight: 400;
}

.separator{
  width: 14vw;
  height: 1.4vw;
  background: #e35253;
}

.btn.contact{
  padding-top: 4vw;
  padding-bottom: 4vw;
  margin-top: 5vw;
  font-size: 5.5vw;
  font-weight: 400;
  padding-left: 17vw;
  color: #333333;
  border: 1px solid #666666;
  border-bottom: 2px solid #666666;
  border-radius: 3px;
}

.btn.contact .label{
  position: relative;
  line-height: 6.5vw;
}

.btn.contact .label span.expresso{
  color: #588bd5;
}

.btn.contact .label span.method{
  font-weight: 500;
}


i.picto_tel:before{
  content:'';
  display: block;
  position: absolute;
  top: 5vw;
  left: 4vw;
  width: 8.5vw;
  height: 8.5vw;
  background-image: url('https://static.societegenerale.fr/PRI/Repertoire_par_type_de_contenus/Type_de_contenu/01-Pages/02-promo/2015/12/c739/c739-credit-conso-expresso/images/picto_tel.png');
  background-image: -webkit-image-set( url('https://static.societegenerale.fr/PRI/Repertoire_par_type_de_contenus/Type_de_contenu/01-Pages/02-promo/2015/12/c739/c739-credit-conso-expresso/images/picto_tel.png') 1x, url('https://static.societegenerale.fr/PRI/Repertoire_par_type_de_contenus/Type_de_contenu/01-Pages/02-promo/2015/12/c739/c739-credit-conso-expresso/images/picto_tel-2x.png') 2x );
  background-size: 100%;
}

i.picto_agence:before{
  content:'';
  display: block;
  position: absolute;
  top: 5vw;
  left: 4vw;
  width: 8.5vw;
  height: 8.5vw;
  background-image: url('https://static.societegenerale.fr/PRI/Repertoire_par_type_de_contenus/Type_de_contenu/01-Pages/02-promo/2015/12/c739/c739-credit-conso-expresso/images/picto_agence.png');
  background-image: -webkit-image-set( url('https://static.societegenerale.fr/PRI/Repertoire_par_type_de_contenus/Type_de_contenu/01-Pages/02-promo/2015/12/c739/c739-credit-conso-expresso/images/picto_agence.png') 1x, url('https://static.societegenerale.fr/PRI/Repertoire_par_type_de_contenus/Type_de_contenu/01-Pages/02-promo/2015/12/c739/c739-credit-conso-expresso/images/picto_agence-2x.png') 2x );
  background-size: 100%;
}



/* Mentions légales */


#mentions_legales {
	font-size: 4vw;
  color: #666666;
}

#mentions_legales h3 {
  display: block;
  position: relative;
	cursor : pointer;
  font-weight: 400;
  font-size: 4vw;
}


#mentions_legales .mentions{
	counter-reset: mention_count;
  margin-top: 6vw;
}

#mentions_legales .mentions dt {
	position: relative;
  padding: 0 0 5vw 0;
  padding-left: 9vw;
  line-height: 5vw;
  text-align: justify;
  text-justify: inter-word;
}

#mentions_legales .mentions dt:last-child {
	padding-bottom: 10vw;
}


#mentions_legales .mentions dt:before{
	content: '('counter(mention_count)')';
  counter-increment: mention_count;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 4vw;
}


.ui-icon.iconOpen {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url('https://static.societegenerale.fr/PRI/Repertoire_par_type_de_contenus/Type_de_contenu/01-Pages/02-promo/2015/12/c739/c739-credit-conso-expresso/images/mentions_minus.png');
  background-image: -webkit-image-set( url('https://static.societegenerale.fr/PRI/Repertoire_par_type_de_contenus/Type_de_contenu/01-Pages/02-promo/2015/12/c739/c739-credit-conso-expresso/images/mentions_minus.png') 1x, url('https://static.societegenerale.fr/PRI/Repertoire_par_type_de_contenus/Type_de_contenu/01-Pages/02-promo/2015/12/c739/c739-credit-conso-expresso/images/mentions_minus-2x.png') 2x );
  background-size:100%;
  width:4.5vw;
  height:4.5vw;
}
.ui-icon.iconClosed {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url('https://static.societegenerale.fr/PRI/Repertoire_par_type_de_contenus/Type_de_contenu/01-Pages/02-promo/2015/12/c739/c739-credit-conso-expresso/images/mentions_plus.png');
  background-image: -webkit-image-set( url('https://static.societegenerale.fr/PRI/Repertoire_par_type_de_contenus/Type_de_contenu/01-Pages/02-promo/2015/12/c739/c739-credit-conso-expresso/images/mentions_plus.png') 1x, url('https://static.societegenerale.fr/PRI/Repertoire_par_type_de_contenus/Type_de_contenu/01-Pages/02-promo/2015/12/c739/c739-credit-conso-expresso/images/mentions_plus-2x.png') 2x );
  background-size:100%;
  width:4.5vw;
  height:4.5vw;

}

/* Footer */

#footer{

  text-align: center;
}

#footer a {
  color: #666666;
  font-size: 3.4vw;
  font-weight: 400;
}

#footer ul{
  /* margin-top: 5vw; */
}

#footer ul li:first-child {
  border-left: 0;
  margin-left: 0;
}

#footer ul li {
  display: inline-block;
  vertical-align: middle;
  border-left: 1px solid #b6b6b6;
  padding-left: 2vw;
  margin-left: 2vw;
  margin-bottom: 2vw;
}
